<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static 'app/css/owl.carousel.min.css'%}" />

    <link rel="stylesheet" href="{%static 'app/css/all.min.css'%}" />

    <link rel="stylesheet" href="{%static 'app/css/style.css'%}" />
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://kit.fontawesome.com/a979d5ea43.js" crossorigin="anonymous"></script>


    <title>Prakriti | {% block title %}{%endblock title%}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#487948">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{%static "app/images/Neel.png"%}" width="100" height="80"/>
           </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plants
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'category' 'BZ' %}">Bonzai</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'PH' %}">Plants for home</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'PO' %}">Plants for office</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'GP' %}">Gift Plants</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'EP' %}">Exotic Plants</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accessories
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'category' 'BZ' %}">Planters and Pots</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'PH' %}">Plant Care Tools</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'PO' %}">Indoor Plant Accessories</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'GP' %}">Outdoor Garden Decor</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'EP' %}">Plant Hanging and Support</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'AC' %}">Seeds and Planting Supplies</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'AC' %}">Plant Protection and Care</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' 'AC' %}">Plant Books and Education</a></li>
                </ul>
            </li>
            

              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'contact' %}">Disease Identification</a>
              </li>           
              
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'contact' %}">Contact us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about' %}">About us</a>
              </li>

            </ul>
            <form class="d-flex" role="search" action="/search">
              <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit" style="color: aliceblue;">Search</button>
            </form>
          </div>

          <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              You
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="{% url 'profile'%}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'orders'%}">Orders</a></li>
                  <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item mx-2">
          <a href="{% url 'showcart' %}" class = "nav-link text-white"><span class="badge bg-danger">{% if totalitem > 0 %} {{totalitem}} {% endif %}</span>  Cart</a>
        </li>
        <li class="nav-item mx-2">
          <a href="{% url 'showwishlist' %}" class = "nav-link text-white"><span class="badge bg-danger">{% if wishitem > 0 %} {{wishitem}} {% endif %}</span>  <i class="fa-solid fa-heart"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plants
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'category' 'BZ' %}">Bonzai</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'PH' %}">Plants for home</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'PO' %}">Plants for office</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'GP' %}">Gift Plants</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'EP' %}">Exotic Plants</a></li>
            <li><a class="dropdown-item" href="{% url 'category' 'AC' %}">Accessories</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about' %}">About us</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'contact' %}">Contact us</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/search">
        <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit" style="color: aliceblue;">Search</button>
      </form>
    </div>

        <li class="nav-item mx-2">
          <a href="{% url 'login' %}" class = "nav-link text-white">Login</a>
        </li>
        <li class="nav-item mx-2">
          <a href="{% url 'customerregistration' %}" class = "nav-link text-white">Registration</a>
        </li>
        {% endif %}
        </ul>
        </div>
      </nav>
    
      {% block banner_slider %}{% endblock banner_slider %}
      {% block information %}{% endblock information %}
      {% block main-content %}{% endblock main-content %}
      {%block payment-gateway%}{%endblock payment-gateway%}


      <footer class="container-fluid text-center p-2 mt-5" style="background-color:#487948">
        Copyright : 2023 || Develop by : Group 17
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<script src = "{% static 'app/js/owl.carousel.min.js' %}"></script>


<script src = "{% static 'app/js/all.min.js' %}"></script>


<script src = "{% static 'app/js/myscript.js' %}"></script>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/653ec2d7f2439e1631e9b3ba/1hduii7m8';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
</body>
</html>